/* //////////////title start//////////////////// */
.mainTitle {
    margin-left     : 10px;
    text-align      : center;
    color           : #323330;
    background-color: inherit;
    position        : relative;
    padding         : 0;
    z-index         : 22;
}

.mainTitle>h1 {
    display         : inline-block;
    font-size       : 3em;
    background-color: inherit;
    padding         : 0 10px;
}

.mainTitle::before {
    content         : "";
    background-color: #f7df1e;
    height          : 3px;
    position        : absolute;
    left            : 10%;
    right           : 10%;
    top             : 53%;
    z-index         : -1;
}

@media (max-width:500px) {
    .mainTitle>h1 {
        background-color: #323330dd;
        color           : #f7df1e;
        padding         : 5px 20px;
        font-weight     : 600;
        font-size       : 2.2em;
        border-radius   : 5px;
        margin          : 0;
    }

    .mainTitle::before {
        display: none;
    }
}

/* //////////////title end//////////////////// */