#home {
    width                                   : 100%;
    height                                  : 100vh;
    /*left top spread  qty */
    /* box-shadow                           : 0px 100px 50px 50px #f7df1e; */
    /* background-color                     : #f7df1e; */
    display                                 : flex;
    flex-direction                          : row;
    align-items                             : center;
    /* font-family                          : 'Edu NSW ACT Foundation', cursive; */
    font-family                             : 'Patrick Hand SC', cursive, system-ui, -apple-system, sans-serif;
    letter-spacing                          : 2px;
    justify-content                         : space-around;
    flex-wrap                               : wrap;
    overflow                                : hidden;
    position                                : relative;
    color                                   : #f4da15;
    transition                              : all ease-in-out 0.3s;
    padding                                 : 5px;
    box-shadow                              : 0px 0px 5px 10px#f4da15d7;

}

#home::after {
    content         : "";
    position        : absolute;
    top             : -30%;
    bottom          : -30%;
    right           : -30%;
    left            : -30%;
    background-color: #323330;
    z-index         : -2;
    transition      : all ease-in-out 0.3s;
}

#home:hover {
    color: #323330;
}

#home:hover::after {
    border-radius: 50%;
    bottom       : 100%;
    right        : 100%;
}

#home:hover .gif {
    animation: in 0.3s ease-in-out forwards;
}

#home:hover .socialMedia>a:nth-child(1) {
    filter: invert(0);
}

#home .text {
    text-align: center;
    transform : translateY(20px);
    transition: all ease-in-out 0.1s;

}

#home .text h2 {
    font-size: 5em;
}

#home .text h3 {
    font-size: 3em;
}

#home .text h4 {
    font-size: 2em;
}

#home .gif {
    display       : inline-block;
    mix-blend-mode: darken;
    pointer-events: none;
    width         : 0%;
    animation     : out 0.3s ease-in-out forwards;
}

#home .wave1 {
    transform     : rotate(180deg);
    position      : absolute;
    top           : 30px;
    pointer-events: none;
}

#home .wave2 {
    position      : absolute;
    bottom        : -50px;
    z-index       : -1;
    pointer-events: none;
}

#home .socialMedia {
    padding-top: 30px;
}

#home .socialMedia a img {
    width : 50px;
    margin: 0 25px;
    cursor: pointer !important;
}

#home .socialMedia a:nth-child(1) {
    filter    : invert(1);
    transition: all ease-in-out 0.3s;

}

@keyframes in {
    0% {
        width  : 0px;
        height : 0px;
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        width  : 210px;
        height : 210px;
        opacity: 1;
    }
}

@keyframes out {
    0% {
        width  : 210px;
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        width  : 0px;
        height : 0;
        opacity: 0;
    }
}

@media (max-width:990px) {
    #home .text h2 {
        font-size: 3.4em;
    }

    #home .text h3 {
        font-size: 2em;
    }

    #home .text h4 {
        font-size: 1.5em;
    }

    #home .socialMedia {
        padding: 30px 0;
    }

    #home .socialMedia a img {
        width : 30px;
        margin: 0px 12px;
    }

    #home .gif {
        /* width: 180px !important;
        height: 180px !important; */
    }
}

@media (max-width:770px) {
    #home .text h2 {
        font-size: 3em;
    }

    #home .text h3 {
        font-size: 1.8em;
    }

    #home .text h4 {
        font-size: 1.2em;
    }

    #home .socialMedia {
        padding: 25px 0;
    }

    #home .socialMedia a img {
        width : 30px;
        margin: 0px 12px;
    }

    #home .gif {
        width : 130px !important;
        height: 130px !important;
    }
}

@media (max-width:600px) {
    #home {
        flex-direction : column-reverse;
        justify-content: center;
        color          : #323330;

    }

    #home::after {
        border-radius: 50%;
        bottom       : 100%;
        right        : 100%;
    }

    #home .gif {
        animation: in 0.3s ease-in-out forwards;
    }

    #home .socialMedia>a:nth-child(1) {
        filter: invert(0);
    }

    #home .text h2 {
        transform: translateY(-30px);
    }

    #home .text h3 {
        transform: translateY(-30px);
    }

    #home .text h4 {
        transform: translateY(-30px);
    }

    #home .socialMedia a img {
        transform: translateY(-30px);
    }

    #home .gif {
        transform: translateY(-30px);
        display  : block;
    }

    #home .wave1 {
        top   : 30px;
        height: 8.5em;
        right : 0;
    }

    #home .wave2 {
        bottom: 0px;
        height: 10em;
        right : 0;
    }
}