* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.resume-container {
    display       : flex;
    flex-direction: column;
    height        : 100vh;
    overflow      : hidden;
}

.go-to-portfolio {
    display         : block;
    color           : darkslateblue;
    font-family     : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffff42;
    font-weight     : 500;
    font-size       : 1rem;
    padding         : 10px 20px;
    transition      : all 0.1s ease-in-out;
}

.go-to-portfolio span {
    display  : inline-block;
    transform: rotate(90deg);
}

.go-to-portfolio:hover {
    color           : #ffff42;
    background-color: rgb(33, 33, 33);
}

.resume-container object {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.resume-container object a {
    display        : flex;
    flex-wrap      : nowrap;
    align-items    : stretch;
    text-decoration: none;
    font-family    : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border         : 2.5px solid #333333;
    font-weight    : 500;
    font-size      : 1.2rem;
    border-radius  : 10px;
    text-transform : uppercase;
    margin         : 0;
    padding-left   : 1rem;
    transform      : translate(0, -50px);
}

.resume-container object a img {
    width: 40px;
}

.resume-container object a div {
    margin-left     : 1rem;
    background-color: #ffff42;
    padding         : 1rem 1.5rem;
    border-radius   : 10px;

}

.resume-container object a h2 {
    margin       : 0;
    border-bottom: 1px solid #88880055;
}

.resume-container object a span {
    font-size     : 1rem;
    text-transform: lowercase;
    color         : #444444;
}